.card {
    width: 1440px;
    height: 550px;
    margin-top: 200px;
}
.card__contenedor1 {
    width: 50%;
    height: 100%;
    order: 2;
}
.card__contenedor1__img {
    border-radius: 0 10px 10px 0;
}
.card__contenedor1__transparencia {
    border-radius: 0 10px 10px 0;
}
.card__contenedor2 {
    width: 50%;
    height: 100%;
}
.card__contenedor2__title {
    margin-top: 90px;
    text-align: left;
    font-size: 4.8rem;
    margin-left: 40px;
    line-height: 4.9rem;
}
.card__contenedor2__parrafo {
    font-size: 2.5rem;
    text-align: left;
    margin-left: 20px;
    line-height: 3rem;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    margin-top: 100px;
    margin-left: -160px;
}